body {
  margin: 0;
  background-color: lightgrey;
}

.header {
  font-family: arial;
  background-color: teal;
  height: 70px;
  padding: 20px;
}
.navbar {
  overflow: hidden;
  background-color: #666;
}
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 14px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: teal;
  color: white;
}
h2 {
  font-size: 25px;
  text-decoration: underline;
}
.main {
  background-color: lightgrey;
  font-family: Arial;
}
img {
  margin-right: 10px;
}
hr {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  height: 5px;
  background-color: teal;
}
.footer {
  font-family: arial;
  background-color: teal;
  height: 140px;
  text-align: center;
  padding: 10px;
}
h3 {
  font-size: 30px;
}
p {
  margin-right: 20%
}
a {
  padding: 20px;
  font-size: 40px;
}
a:hover {
  color: white;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
